/* NASA Theme CSS */

.remove-all-styles {
  all: revert;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 5px;
}

img {
  width: 80%;
  height: 80%;
}

.inner-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 20px;
}

.description {
  flex: 1;
}

h1, h2, h3 {
  color: #ff3c00;
}

p {
  line-height: 1.5;
}

/* a {
  color: #00a4ef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */

/* .button {
  background-color: #00a4ef;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0072c6;
} */

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .main-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 20px;
  }
  .inner-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 20px;
  }
  .description {
    display: flex;
    flex: 1;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .body {
    overflow: hidden;
  }
  .main-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
  }
    .inner-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
    }
    .description {
      display: flex;
      flex: 1;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .body {
    overflow: hidden;
    text-align: center;
    
  }

  .main-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
  }
    .inner-container {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 15px;
    }
    .description {
      display: flex;
      flex: 1;
    }
}

@media all and (max-width: 480px) {
  .body {
    overflow: hidden;
  }

  .main-container {
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
  }
  .inner-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  .description {
    display: flex;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}